* {
    text-align: center;
    margin: 0;
    padding: 0;
}

.container{
    background-color: red;
    height: 100dvh;
}

.limit{
    background-color: rgb(19, 63, 19);
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    width: 90%;
    height: 90%;
    background-color: teal;
    position: relative;
}

.head img{
    width: 100%;
}
.head,
.circle{
    position: absolute;
    background-color: purple;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    
}